In [46]:
import pandas as pd

In [47]:
# DataFrame
# Dataframes are the bread and butter of Pandas. They are two-dimensional labeled data structures. You can think of them as a spreadsheet or SQL table.

df = pd.DataFrame({
    "id": [1, 2, 3, 4, 5],
    "name": ["Peter", "Tim", "Zoe", "Julia", "Hans"]
})

print(df)

   id   name
0   1  Peter
1   2    Tim
2   3    Zoe
3   4  Julia
4   5   Hans

In [48]:
# Series
# A series is a one-dimensional array that can hold any data types where the axis labels are referred as index.

series = pd.Series(
    ["Peter", "Tim", "Zoe", "Julia", "Hans"], 
    index=["P", "T", "Z", "J", "H"],
    name="name")

print(series)

P    Peter
T      Tim
Z      Zoe
J    Julia
H     Hans
Name: name, dtype: object

In [49]:
# We can freely convert series to dataframes and vice versa!

# DF to Series
series = pd.Series(df.name)
print(series)
print(type(series))

0    Peter
1      Tim
2      Zoe
3    Julia
4     Hans
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [50]:
# Series to DF
df = series.to_frame()
print(df)

    name
0  Peter
1    Tim
2    Zoe
3  Julia
4   Hans