In [1]:
import pandas as pd

# DataFrames
Dataframes are the bread and butter of Pandas. They are two-dimensional labeled data structures. You can think of them as a spreadsheet or SQL table.

In [2]:
# Create a Dataframe
df = pd.DataFrame({
    "id": [1, 2, 3, 4, 5],
    "name": ["Peter", "Tim", "Zoe", "Julia", "Hans"]
})

print(df)
print(type(df))

   id   name
0   1  Peter
1   2    Tim
2   3    Zoe
3   4  Julia
4   5   Hans
<class 'pandas.core.frame.DataFrame'>

# Series
A series is a one-dimensional array where the axis labels are referred as index. You can think of them as a single column/row of a Dataframe.

In [3]:
series = pd.Series(["Peter", "Tim", "Zoe"], index = [1, 2, 3], name="name")
print(series)
print(type(series))

1    Peter
2      Tim
3      Zoe
Name: name, dtype: object
<class 'pandas.core.series.Series'>

# Series ---> DataFrame

#### Index as stand-alone column

In [4]:
new_df = series.to_frame().reset_index()
new_df = new_df.rename(columns={"index": "id"})

![convert1](img/convert1.png)

#### Index values as multiple columns

In [5]:
new_df = series.to_frame().T

![convert2](img/convert2.png)

# DataFrame ---> Series

#### single column

In [6]:
new_series = df.name

![convert3](img/convert3.png)

#### single row

In [7]:
# Need to filter out one row!
new_series = df[df["name"] == "Tim"].squeeze()

![convert4](img/convert4.png)